<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>System & Service Stalker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Le styles -->
    <!-- <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet"> -->
    <!-- <link href="//netdna.bootstrapcdn.com/bootswatch/2.3.1/cosmo/bootstrap.min.css" rel="stylesheet"> -->
    <!-- <link href="//netdna.bootstrapcdn.com/bootswatch/2.3.1/slate/bootstrap.min.css" rel="stylesheet"> -->
    <!-- <link href="//netdna.bootstrapcdn.com/bootswatch/2.3.1/cyborg/bootstrap.min.css" rel="stylesheet"> -->
    <!-- <link href="//netdna.bootstrapcdn.com/bootswatch/2.3.1/cerulean/bootstrap.min.css" rel="stylesheet"> -->
    {% if not session.theme %}
      <link href="//netdna.bootstrapcdn.com/bootswatch/2.3.1/cerulean/bootstrap.min.css" rel="stylesheet">
    {% else %}
      <link href="//netdna.bootstrapcdn.com/bootswatch/2.3.1/{{ session.theme }}/bootstrap.min.css" rel="stylesheet">
    {% endif %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/knockout/2.2.1/knockout-min.js"></script>
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-responsive.min.css" rel="stylesheet">
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="../assets/js/html5shiv.js"></script>
    <![endif]-->
    {% block head %} {% endblock %}
  </head>

  <body>
      <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
          <div class="container">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="brand" href="/">StalkerUI</a>
            <div class="nav-collapse collapse">
              <ul class="nav">
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    Views
                    <b class="caret"></b>
                  </a>
                  <ul class="dropdown-menu">
                    <li><a href="/view/states/alerting">Alerting</a></li>
                    <li><a href="/view/states/pending">Pending</a></li>
                    <li><a href="/view/states/suspended">Suspended</a></li>
                  </ul>
                </li>
                <!--<li><a href="/view/hosts">Hosts</a></li> -->
                <li><a href="/view/checks">All Checks</a></li>
              </ul>
              {% if not session.logged_in %}
              <ul class="nav pull-right"><li><a href="/"><i class="icon-user icon-white"></i> Sign In</a></li></ul>
              {% else %}
              <form class="navbar-search" action="/view/host" method="get">
                <input type="text" class="search-query" name="search" placeholder="Search for a host" id="hostsearch" data-provide="typeahead">
              </form>
              <ul class="nav pull-right">
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="icon-user icon-white"></i> {{ session.username }}
                    <b class="caret"></b>
                  </a>
                  <ul class="dropdown-menu">
                    <li><a href="/view/user/{{ session.username }}"><i class="icon-pencil icon-black"></i> Edit</a></li>
                    <li class="divider"></li>
                    <li><a href="/signout"><i class="icon-off icon-black"></i> Sign Out</a></li>
                  </ul>
                </li>
              </ul>
              {% endif %}
            </div><!--/.nav-collapse -->
          </div>
        </div>
      </div>
      {%  block body %} {% endblock %}
      <script src="/static/js/bootstrap-typeahead-v2.3.1.js"></script>
      <script src="/static/js/bootstrap-alert-v2.3.1.js"></script>
      <script src="/static/js/bootstrap-dropdown-v2.3.1.js"></script>
      <script>
        $('#hostsearch').typeahead( {
          source: function( query, process ) {
            $.get("/findhost", {
              q: query
            },
            function( data ) {
              process(data.split(","));
            });
          },
        });
      </script>
  </body>
</html>

