{% extends "base.html" %}
{% block head %}
    <script>
      target = "{{ target }}";
      function AppViewModel() {
        var self = this;
        self.hostname = ko.observable();
        self.hostip = ko.observable('0.0.0.0');
        self.host_roles = ko.observableArray([]);
        self.checks = ko.observableArray([]);
        self.stateLog = ko.observableArray([]);
        self.changes = ko.observableArray([]);
      }
      function loadHost() {
        $.ajax({type: "GET",
                url: "/hosts/" + target,
                dataType: "json",
                success: function(data) {
                  self.hostname(data['hostname'])
                  self.hostip(data['ip'])
                  self.host_roles.removeAll()
                  for (i in data['roles']) {
                    role = data['roles'][i]
                    self.host_roles.push({'name': role, 'url': '/roles/' + role})
                  }
                },
                error: function(data) {
                  console.log('oops')
                }
        })
      }
      function loadChecks() {
        $.ajax({type: "GET",
                url: "/checks/host/" + target,
                dataType: "json",
                success: function(data) {
                  self.checks.removeAll()
                  for (var i in data.checks) {
                    check_fields = {"check": null, "in_maintenance": null, "interval": null, "last": null,
                                    "next": null, "pending": null, "status": null, "flapping": null, "suspended": null,
                                    "out": null, "_id": null, "priority": null}
                    raw = data.checks[i]
                    for (i in raw) {
                      if (i in check_fields) {
                        if (i == 'last' || i == 'next') {
                          check_fields[i] = new Date(raw[i]*1000).toUTCString();
                        } else {
                          check_fields[i] = raw[i]
                        }
                      }
                    }
                    self.checks.push(check_fields)
                  }
                },
                error: function(data) {
                  self.checks.removeAll()
                }
        })
      }
      function requeueCheck(target) {
        $.ajax({type: "POST",
                url: "/checks/id/" + target['_id'] + "/next",
                dataType: "json",
                async: false,
                data: JSON.stringify({next: 'now'}),
                contentType: "application/json",
                success: function(data) {
                  self.changes.push({'cid': target['check'], 'success': true, 'note': 'Requeued', 'ts': new Date().toUTCString()});
                  //need to just remove check at $index form observable array
                  loadChecks();
                },
                error: function(data) {
                  console.log(data);
                  self.changes.push({'cid': target['check'], 'success': false, 'note': 'Requeue failed', 'ts': new Date().toUTCString()});
                  loadChecks();
                }
                
        })
      }
      function suspendStateChange(target) {
        if (target.suspended) {
          new_state = false;
        } else {
          new_state = true;
        }
        $.ajax({type: "POST",
                url: "/checks/id/" + target['_id'] + "/suspended",
                dataType: "json",
                async: false,
                data: JSON.stringify({suspended: new_state}),
                contentType: "application/json",
                success: function(data) {
                  self.changes.push({'cid': target['check'], 'success': true, 'note': 'suspend state changed', 'ts': new Date().toUTCString()});
                  //need to just remove check at $index form observable array
                  loadChecks();
                },
                error: function(data) {
                  console.log(data);
                  self.changes.push({'cid': target['check'], 'success': false, 'note': 'suspend state change failed', 'ts': new Date().toUTCString()});
                  loadChecks();
                }
                
        })
      }
      function deleteCheck(target) {
        $.ajax({type: "DELETE",
                url: "/checks/id/" + target['_id'],
                async: false,
                dataType: "json",
                success: function(data) {
                  self.changes.push({'cid': target['check'], 'success': true, 'note': 'deleted', 'ts': new Date().toUTCString()});
                  loadChecks();
                },
                error: function(data) {
                  console.log(data);
                  self.changes.push({'cid': target['check'], 'success': false, 'note': 'delete failed', 'ts': new Date().toUTCString()});
                  loadChecks();
                }
                
        })
      }
      function loadStatelog(target) {
        $.ajax({type: "GET",
                url: "/state_log/" + self.hostname() + "/" + target['check'],
                dataType: "json",
                success: function(data) {
                  self.stateLog.removeAll()
                  console.log(data.state_log)
                  for (var i in data.state_log) {
                    check_fields = {"last": null, "cid": null, "status": null, "out": null, "cid": null, "hostname": null, "_id": null, "check": null}
                    raw = data.state_log[i]
                    for (i in raw) {
                      if (i in check_fields) {
                        if (i == 'last' || i == 'next') {
                          check_fields[i] = new Date(raw[i]*1000).toUTCString();
                        } else {
                          check_fields[i] = raw[i]
                        }
                      }
                    }
                    self.stateLog.push(check_fields)
                  }
                },
                error: function(data) {
                  self.stateLog.removeAll()
                }
        })
      }
      loadHost();
      loadChecks();
      var interval = setInterval(loadChecks, 10000);
    </script>
    <style>
      svg {
        width:50%;
        height:50%;
      }
    </style>

{% endblock %}
{% block body %}

    <div class="container-fluid">
      
      <div class="row-fluid">
        <div class="page-header">
            <h1><span data-bind="text: self.hostname"></span> (<span data-bind="text: self.hostip"></span>)</h1>
        </div>
      </div>
      
      {% if config['GRAPHITE_ENABLE'] %}
      <div class="row-fluid">
        <div class="span3">
          <img src="{{config['GRAPHITE_HOST']}}/render/?format=svg&bgcolor=ffffff&fgcolor=000000&width=280&height=200&lineWidth=1.5&_salt=1381773239917&from=-1days&title=Load&target=alias(servers.{{ target }}.loadavg.01%2C%2201%22)&target=alias(servers.{{ target }}.loadavg.05%2C%2205%22)&target=alias(servers.{{ target }}.loadavg.15%2C%2215%22)">
        </div>
        <div class="span3">
          <img src="{{config['GRAPHITE_HOST']}}/render/?format=svg&bgcolor=ffffff&fgcolor=000000&width=280&height=200&lineWidth=1.5&_salt=1381773239917&from=-1days&title=IOPS&target=aliasByNode(servers.{{ target }}.iostat.*.iops%20%2C3)">
        </div>
        <div class="span3">
          <img src="{{config['GRAPHITE_HOST']}}/render/?format=svg&bgcolor=ffffff&fgcolor=000000&width=280&height=200&lineWidth=1.5&_salt=1381773239917&from=-1days&title=CPU&target=aliasByMetric(servers.{{ target }}.cpu.total.idle)&target=aliasByMetric(servers.{{ target }}.cpu.total.iowait)&target=aliasByMetric(servers.{{ target }}.cpu.total.nice)&target=aliasByMetric(servers.{{ target }}.cpu.total.system)&target=aliasByMetric(servers.{{ target }}.cpu.total.user)">
        </div>
        <div class="span3">
          <img src="{{config['GRAPHITE_HOST']}}/render/?format=svg&bgcolor=ffffff&fgcolor=000000&width=280&height=200&lineWidth=1.5&_salt=1381773239917&from=-1days&title=Net TX/RX&target=alias(sumSeries(servers.{{ target }}.network.eth*.tx_megabit%20)%2C%22TX%22)&target=alias(sumSeries(servers.{{ target }}.network.eth*.rx_megabit%20)%20%2C%22RX%22)&yUnitSystem=none">
        </div>
      </div>
      {% endif %}
      
      <div class="row-fluid">
        <div data-bind="foreach: changes">
          <div class="alert" data-bind="css: {'alert-success': success, 'alert-error': !success}">
            <button type="button" class="close" data-dismiss="alert" data-bind="">&times;</button>
            <span data-bind="text: ts"></span>: <span data-bind="text: cid"></span> <span data-bind="text: note"></span>
          </div>
        </div>
      </div>

      <div class="row-fluid">
        <table class="table table-striped table-bordered table-hover">
          <thead>
            <tr>
              <th>Modify</th>
              <th>Log</th>
              <th>Name</th>
              <th>Interval</th>
              <th>Last run time</th>
              <th>Next run time</th>
              <th>Status</th>
              <th>Flapping</th>
              <th>Suspended</th>
              <th>Output</th>
              <th>Priority</th>
              <th>Delete</th>
            </tr>
          </thead>
          <tbody data-bind="foreach: checks">
            <tr data-bind="css: {error: !status, info: pending, warning: suspended}">
              <td>
                <div class="btn-group">
                  <a class="btn btn-inverse dropdown-toggle" data-toggle="dropdown" href="#">
                    <span class="icon-wrench icon-white"></span>
                  </a>
                  <ul class="dropdown-menu">
                    <!-- dropdown menu links -->
                    <li><a href="#" data-bind="click: requeueCheck"><i class="icon-refresh"></i> Recheck now()</a></li>
                    <li data-bind="ifnot: suspended"><a href="#" data-bind="click: suspendStateChange"><i class="icon-pause"></i> Suspend Check</a></li>
                    <li data-bind="if: suspended"><a href="#" data-bind="click: suspendStateChange"><i class="icon-play"></i> Un-Suspend Check</a></li>
                  </ul>
                </div>
              </td>
              <td><a href="#myModal" role="button" class="btn btn-inverse" data-toggle="modal"  data-bind="click: loadStatelog"><i class="icon-list icon-white"></i></a></td>
              <td><span data-bind="text: check"></span></td>
              <td><span data-bind="text: interval"></span></td>
              <td><span data-bind="text: last"></span></td>
              <td><span data-bind="text: next"></span></td>
              <td><span data-bind="text: status"></span></td>
              <td><span data-bind="text: flapping"></span></td>
              <td><span data-bind="text: suspended"></span></td>
              <td><span data-bind="text: out"></span></td>
              <td><span data-bind="text: priority"></span></td>
              <td><button class="btn btn-danger" data-bind="click: deleteCheck"><i class="icon-trash icon-white"></i></button></td>
            </tr>
          </tbody>
        </table>
      </div>
      
      <div class="row-fluid">
        <span class="label label-important"> Failing Check</span>
        <span class="label label-info"> Pending Check </span>
        <span class="label label-warning"> Suspended Check </span>
      </div>


    </div> <!-- /container -->
    
    <!-- Modal -->
    <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">State Log</h3>
      </div>
      <div class="modal-body">
        <table class="table table-striped table-bordered table-hover">
          <thead>
            <tr>
              <th>Status</th>
              <th>Last</th>
              <th>CheckId</th>
            </tr>
          </thead>
          <tbody data-bind="foreach: stateLog">
            <tr data-bind="css: {error: !status, success: status}">
              <td><span data-bind="text: status"></span></td>
              <td><span data-bind="text: last"></span></td>
              <td><span data-bind="text: cid"></span></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
    
    <script>
      ko.applyBindings(AppViewModel());
    </script>
{% endblock %}

